<div class="sixteen columns">
  {{input type="range" max=producer.resources value=producer.productAResources}}
</div>
<div class="eight columns left">
  {{capitalize-string producer.productAName}} ({{producer.productAResources}})
</div>
<div class="eight columns right">
  {{capitalize-string producer.productBName}} ({{producer.productBResources}})
</div>
