<h2>{{producer.name}}</h2>

<div class="total-production">
    <h3>Product A Production</h3>
    <p>{{producer.productAProduction}}</p>
    <h3>Product B Production</h3>
    <p>{{producer.productBProduction}}</p>
</div>

<div class="resources">
    <h3>Total Resources</h3>
    <p>{{producer.resources}}</p>
    <h3>Resources Focused on Product A</h3>
    <p>{{producer.productAResources}}</p>
    <h3>Resources Focused on Product B</h3>
    <p>{{producer.productBResources}}</p>
</div>

<div class="slider"></div>
<div class="amount"></div>