<div class="global-production clearfix">
  <div class="container">
    <div class="eight columns resource">
      <img {{bind-attr src=productAImage}}>
      {{totalProductionProductA}}
    </div>

    <div class="eight columns resource">
      <img {{bind-attr src=productBImage}}>
      {{totalProductionProductB}}
    </div>
  </div>
</div>

<div class="producers container">
  {{slider-visualization producer=producerA}}
  {{slider-visualization producer=producerB}}
</div>
