<p>{{#link-to 'application'}}&larr; Home{{/link-to}}</p>

{{capitalize-string productAName}}: {{totalProductionProductA}}
{{capitalize-string productBName}}: {{totalProductionProductB}}

{{#each}}
    {{slider-visualization producer=this}}
{{/each}}
