<div class="global-production">  
  <div class="productA-global global-product">
    <h3>{{capitalize-string productAName}}</h3>
    <div class="resource">{{totalProductionProductA}}</div>
  </div>

  <div class="productB-global global-product">
    <h3>{{capitalize-string productBName}}</h3>
    <div class="resource">{{totalProductionProductB}}</div>
  </div>
</div>

{{#each}}
    {{slider-visualization producer=this}}
{{/each}}
